<div class="account-pages"></div>

<div class="clearfix"></div>

<div class="wrapper-page">
    <div class="text-center">
        <a href="<?=$this->Api->feedUrl('gateway.clients.login')?>" class="logo"><span>Klez<span>Backend</span></span></a>
        <h5 class="text-muted m-t-0 font-600">CakePHP Backend</h5>
    </div>
        <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Inicio de Sesión</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-20" method="post" action="<?=$this->Api->feedUrl('gateway.clients.login')?>">

                <?php foreach($this->Api->feed('entity.fields') as $field){ ?>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input 
                                class="form-control"
                                name="<?=$this->Login->resolvInputName($this->Api->feed('entity.schema'), $field)?>"
                                type="<?=$this->Login->resolvInputType($this->Api->feed('entity.schema'), $field)?>"
                                required="<?=$this->Login->resolvInputRequired($this->Api->feed('entity.schema'), $field)?>"
                                placeholder="<?=$this->Login->resolvInputPlaceholder($this->Api->feed('entity.schema'), $field)?>">
                        </div>
                    </div>
                <?php } ?>

<!--                <div class="form-group ">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-custom">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup">
                                Remember me
                            </label>
                        </div>

                    </div>
                </div>-->

                <div class="form-group text-center m-t-30">
                    <div class="col-xs-12">
                        <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Ingresar</button>
                    </div>
                </div>

<!--                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-12">
                        <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                    </div>
                </div>-->
            </form>

        </div>
    </div>

<!--    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Don't have an account? <a href="page-register.html" class="text-primary m-l-5"><b>Sign Up</b></a></p>
        </div>
    </div>-->

</div>