<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect"><?php $this->Menu->icon($icon); ?> <span> <?=$label?> </span> </a>
    
    <?php $this->Menu->deploy($childs, 'list-unstyled'); ?>
</li>